body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #222;
    color: #fff;
    overflow: hidden;
}

.welcome-message {
    opacity: 0;
    transform: scale(0.5);
    animation: showMessage 3s ease forwards, hideMessage 1s 3s forwards;
}

@keyframes showMessage {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }
    50% {
        opacity: 1;
        transform: scale(1.1);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes hideMessage {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

h1 {
    font-size: 3rem;
}
